/* General */
body{
	font-family: 'Oswald', sans-serif;
}
/* Header */
header {
	background-color:#2c2d31;
	padding-top: 15px;
}

.menu-bar {
	background-color:#38d7ff;
	margin-top:10px;
}
.menu-bar a {
	color:#fff;
	font-size: 16px;
	font-weight:500;
}
.menu-bar a:hover{
	text-decoration:none;
	color:#0271a1;
}
.menu-list {
	padding: 12px 0;
	margin-bottom:0;
}
.menu-list > li:not(:last-child) {
	margin-right:40px;
}

/* Content */

/* Content */
#carrusel-slider{
	margin-bottom: 50px;
}
.carousel-caption {
	background-color: #274448;
	height: 100%;
	left:0;
	top:0;
	padding:110px 45px;
	text-align: left;
	width:340px;
}
/* Footer */