/* General */
body{
	font-family: 'Oswald', sans-serif;
}
/* Header */
header {
	background-color:#2c2d31;
	padding-top: 15px;
}

.menu-bar {
	background-color:#38d7ff;
	margin-top:10px;
}
.menu-bar a {
	color:#fff;
	font-size: 16px;
	font-weight:500;
}
.menu-bar a:hover{
	text-decoration:none;
	color:#0271a1;
}
.menu-list {
	padding: 12px 0;
	margin-bottom:0;
}
.menu-list > li:not(:last-child) {
	margin-right:40px;
}

/* Content */

/* Carrusel */
#carrusel-slider{
	margin-bottom: 50px;
}
.carousel-caption {
	background-color: #274448;
	height: 100%;
	left:0;
	top:0;
	padding:110px 45px;
	text-align: left;
	width:340px;
}
/* Info Content */
h3{
	border-bottom: 1px solid;
	padding-bottom:10px;
	margin-bottom: 15px;
}
/* Icons inside h3 */
h3 i{
	color:#2c2d31;
}
p {
	font-size:16px;
}
/*Helpers*/
.mar-top-80{
	margin-top:60px;
}

/* Footer */



/* Botones jugadores */
#botonJugador{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      
  }